:root {
  --padding-xl: 20px;
  --padding-md: 15px;
  --padding-xs: 5px;

  --color-white: #fff;
  --color-black: #000000;
  --color-gray: #ccc;
  --color-light-gray: #F2EEEE;
  --color-green: #27A98B;
  --color-red: #E15241;

  --font-base-family: "Montserrat", sans-serif;

  --border-base: 1px solid var(--color-light-gray);
  --border-radius: 4px;
}
